* {
    box-sizing: border-box;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    display: grid; 
    grid-template-columns: 1fr;
    background-color: rgb(204, 0, 255);
    color: #ffffff;
    padding: 15px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: rgb(0, 255, 170);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
    background-color: rgb(0, 202, 135);
}

.aside {
    background-color: rgb(0, 255, 170);
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
    display: grid;
    grid-template-columns: 1fr; 
    background-color: rgb(0, 255, 170);
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    .row {
        grid-template-columns: 1fr;
    }
    
    [class*="col-"] {
        width: 100%;
    }
}
